<h1>{{character.name}}</h1>
<label>Species: </label>
<h2>{{character.species}}</h2>
<label>Career: </label>
<h2>{{character.career}}</h2>
<label>Specialization Trees: </label>
<h2>{{character.specializationTrees}}</h2>
<labe>Soak: </label>
<h2>{{character.soak}}</h2>
<label>Wounds Threshold: </label>
<h2>{{character.woundsThreshold}}</h2>
<label>Wounds Current: </label>
<h2>{{character.woundsCurrent}}</h2>
<label>Strain Threshold: </label>
<h2>{{character.strainThreshold}}</h2>
<label>Defense Ranged: </label>
<h2>{{character.defenseRanged}}</h2>
<label>Defense Melee: </label>
<h2>{{character.defenseMelee}}</h2>
<label>Creator: </label>
<h2>{{character.creator}}</h2>
<label>Brawn: </label>
<h2>{{character.brawn}}</h2>
<label>Agility: </label>
<h2>{{character.agility}}</h2>
<label>Intellect: </label>
<h2>{{character.intellect}}</h2>
<label>Cunning: </label>
<h2>{{character.cunning}}</h2>
<label>Willpower: </label>
<h2>{{character.willpower}}</h2>
<label>Presence: </label>
<h2>{{character.presence}}</h2>
<label>Astrogation: </label>
<h2>{{character.astrogation}}</h2>
<label>Athletics: </label>
<h2>{{character.athletics}}</h2>
<label>Charm:</label>
<h2>{{character.charm}}</h2>
<label>Coercion: </label>
<h2>{{character.coercion}}</h2>
<label>Computers: </label>
<h2>{{character.computers}}</h2>
<label>Cool: </label>
<h2>{{character.cool}}</h2>
<label>Coordination: </label>
<h2>{{character.coordination}}</h2>
<label>Deception: </label>
<h2>{{character.deception}}</h2>
<label>Discipline: </label>
<h2>{{character.discipline}}<h2>
<label>Leadership: </label>
<h2>{{character.leadership}}<h2>
<label>Mechanics: </label>
<h2>{{character.mechanics}}<h2>
<label>Medicine: </label>
<h2>{{character.medicine}}<h2>
<label>Negotiation: </label>
<h2>{{character.negotiation}}<h2>
<label>Perception: </label>
<h2>{{character.perception}}<h2>
<label>Piloting Planetary: </label>
<h2>{{character.pilotingPlanetary}}<h2>
<label>Piloting Space: </label>
<h2>{{character.pilotingSpace}}<h2>
<label>Resilience: </label>
<h2>{{character.resilience}}<h2>
<label>Skulduggery: </label>
<h2>{{character.skulduggery}}<h2>
<label>Stealth: </label>
<h2>{{character.stealth}}<h2>
<label>Streetwise: </label>
<h2>{{character.streetwise}}<h2>
<label>Survial: </label>
<h2>{{character.survival}}<h2>
<label>Vigilance: </label>
<h2>{{character.vigilance}}<h2>
<label>Brawl: </label>
<h2>{{character.brawl}}<h2>
<label>Gunnery: </label>
<h2>{{character.gunnery}}<h2>
<label>Melee: </label>
<h2>{{character.melee}}<h2>
<label>Ranged(Light):</label>
<h2>{{character.rangedLight}}<h2>
<label>Ranged(Heavy): </label>
<h2>{{character.rangedHeavy}}<h2>
<label>Core Worlds: </label>
<h2>{{character.coreWorlds}}<h2>
<label>Education: </label>
<h2>{{character.education}}<h2>
<label>Lore: </label>
<h2>{{character.lore}}<h2>
<label>Outer Rim: </label>
<h2>{{character.outerRim}}<h2>
<label>Underworld: </label>
<h2>{{character.underworld}}<h2>
<label>Xenology: </label>
<h2>{{character.xenology}}<h2>
